.main_login{
    border: 1px solid black;
    margin: 0;
    padding: 0;
    background-image: url(/static/image/cancha2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    
}

.main_login_cont{
    margin:  2% 5% 2% 5%;
    /* border: 1px solid black; */
}

.login{
    text-align: center;
    margin: 0% 37% 0% 37%;
    padding: 5% 0 10% 0;
    border-radius: 10%;
    border: 5px solid black;
    background: rgba(255, 251, 251, 0.459);
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.664);
    
    
}

::-webkit-input-placeholder { /* Edge */
    color: black;
  }
  
  :-ms-input-placeholder { /* Internet Explorer */
    color: black;
  }
  
  ::placeholder {
    color: black;
  }

.titulo{
    text-align: center;
    margin-bottom: 20%;
    font-family: "Lobster",cursive;
    font-size: 50px;
    color: black;
}

.main_casilla{
    margin: 5% 0 5% 0;
    text-align: center;
}
.main_casilla1{
    display:inline-block;
}

.main_casilla2{
    display: inline-block;
}

.icon_usuario{
    
    height: 50px;
    width: 50px;
}

.formato{
    text-align: center;
    border: none;
    border-bottom: 1px solid black;
    width: 100%;
    background: transparent;
    color: black;
    font-size: 15px;
    
}
#boton{
    background: black;
    color: white;
    width: 40%;
    text-align: center;  
    margin-top: 10%;
    border-radius: 25px;
    position: relative;
    left: 5%;

}

#boton:hover{
    background-color: white;
    color: black;
    border: 1px solid black;
    /* border-radius: 25px; */
}



@media screen and (max-width:600px){
    .formato {
        width: 100%;
     }
     #boton{
         width: 100%;
     }

     .login{
         border: none;
     }
    }
    
    
    
    .formato:hover{
        background: rgba(0, 0, 0, 0.664);
    }
