{% extends './layout.html' %}

{%block active1 %}--select{%endblock%}

<!-- carrucel -->
{% block body%}
<section class="banner">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active" style="height: 100vh;">
                <img class="d-block w-100" src={{ url_for('static',filename='image/CARRUCEL/cancha1.jpg' )}}
                    alt="First slide" height="100%" width="300px">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Metropolitano</h5>
                    <p>Cancha principal Estadio Metropolitano</p>
                </div>
            </div>
            <div class="carousel-item" style="height: 100vh;">
                <img class="d-block w-100" src={{ url_for('static',filename='image/CARRUCEL/11x11.jpg' )}}
                    alt="Second slide" height="100%" width="300px">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Metropolitano</h5>
                    <p>Cancha 11 x 11 Unidad Deportiva y Recreativa "Pibe Valderrama"</p>

                </div>
            </div>
            <div class="carousel-item" style="height: 100vh;">
                <img class="d-block w-100" src={{ url_for('static',filename='image/CARRUCEL/7x7.jpg' ) }}
                    alt="Third slide" height="100%" width="300px">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Metropolitano</h5>
                    <p>Cancha 7 x 7 Unidad Deportiva y Recreativa "Pibe Valderama</p>
                </div>
            </div>
            <div class="carousel-item" style="height: 100vh;">
                <img class="d-block w-100" src={{ url_for('static',filename='image/CARRUCEL/9x9.jpg' ) }}
                    alt="Fourd slide" height="100%" width="300px">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Metropolitano</h5>
                    <p>Cancha 9 x 9 Unidad Deportiva y Recreativa "Pibe Valderrama"</p>
                </div>
            </div>
            <div class="carousel-item" style="height: 100vh;">
                <img class="d-block w-100" src={{
                    url_for('static',filename='image/CARRUCEL/cancha_altos_del_silencio.jpg' ) }} alt="Third slide"
                    height="100%" width="300px">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Metropolitano</h5>
                    <p>Parque Electrificadora (Cancha 1)</p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Antes</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next" ">
              <span class=" carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Siguiente</span>
        </a>
    </div>
    <!-- <img src="imagenes/banner.jpg" alt="" class="banner__img" height="300px" width="500px">
            <div class="banner_content"></div> -->
</section>

<!-- contenido principal -->
<main class="main">
    <section class="group group--color">
        <div class="container">
            <h2 class="main__title">Disfrutas de nuestras Canchas sinteticas</h2>
            <p class="main__txt">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Enim autem eius reprehenderit officia neque, perferendis tempore sit impedit eveniet.
                Voluptate corrupti mollitia eveniet quod error vero commodi! Hic, velit quo?</p>
        </div>
    </section>
    <section class="group main__about__description">
        <div class="container container--flex">
            <div class="column column--50">
                <div class="embed-responsive embed-responsive-16by9">
                    <video controls src={{
                        url_for('static',filename='image/video/CLUB SANTA BARBARA - INAUGURACION CANCHA DE 11 SINTETICA.mp4'
                        ) }}></video>
                    <!-- <iframe class="embed-responsive-item" src="https://vimeo.com/217235388" allowfullscreen></iframe> -->
                </div>
                <!-- <img src="imagenes/ventana.jpg" alt=""> -->
            </div>
            <div class="column column--50">
                <h3 class="column__title"></h3>
                <p class="column_txt">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Eos, inventore nisi. Nesciunt maxime id dolore! Animi fugit minima officiis
                    temporibus, asperiores quas ullam suscipit doloremque iusto ipsa? Corrupti, quaerat deleniti!
                </p>
                <a href="" class="btn btn--contact">Contact</a>
            </div>
        </div>
    </section>


    <section class="group ofert-week">
        <h2 class="group__title">Ofertas Especiales De Hoy</h2>
        <div class="container container__flex">
            <div class="column column--50-25">
                <img src={{ url_for('static',filename='image/CARRUCEL/11x11.jpg' ) }} alt="" class="ofert-week__img">
                <div class="ofert-week__title">Cancha 11x11</div>
                <div class="ofert-week__price">$60.000 la hora</div>
            </div>
            <div class="column column--50-25">
                <img src={{ url_for('static',filename='image/CARRUCEL/7x7.jpg' ) }} alt="" class="ofert-week__img">
                <div class="ofert-week__title">Cancha 7x7</div>
                <div class="ofert-week__price">$40.000 la hora</div>
            </div>
            <div class="column column--50-25">
                <img src={{url_for('static', filename='image/CARRUCEL/cancha altos del silencio.jpg' )}} alt=""
                    class="ofert-week__img">
                <div class="ofert-week__title">Cancha altos del silecion</div>
                <div class="ofert-week__price">$50.000 la hora</div>
            </div>
            <div class="column column--50-25">
                <img src={{ url_for('static',filename='image/CARRUCEL/cancha1.jpg' ) }} alt="" class="ofert-week__img">
                <div class="ofert-week__title">Cancha Metropolitano</div>
                <div class="ofert-week__price">$80.000 la hora</div>
            </div>
        </div>
    </section>



</main>

<footer class="main-footer">
    <div class="container container--flex">
        <div class="column column--33">
            <h2 class="column__title">¿porque nos visitas?</h2>
            <p class="column__txt">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Laudantium libero fuga pariatur illo nesciunt optio aspernatur dolorum eum ipsum molestias asperiores,
                eveniet deserunt sapiente.
                Neque quia esse explicabo quidem odio?
            </p>

        </div>
        <div class="column column--33">
            <h2 class="column__title">Contactanos</h2>
            <p class="column__txt">Direccion calle15#16a-96</p>
            <p class="column__txt">Telefono 3022370061</p>
            <p class="column__txt">yitzhakruiz@hotmail.com</p>
        </div>
        <div class="column column--33">
            <h2 class="column__title">Siguenos nuestras redes sociales</h2>
            <p class="column__txt"><a href="" class="icon-facebook"></a></p>
            <p class="column__txt"><a href="" class="icon-twitter"></a></p>
            <p class="column__txt"><a href="" class="icon-youtube"></a></p>
        </div>
        <p class="copy">© 2020 Paseo Barranquilla | Todos los Derechos Reservados</p>
    </div>
</footer>
</div>
{%endblock%}